body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.splash_div {
  background-image: url('./images/planetBackGround.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.four_oh_four {
  background-image: url('./images/earthRise.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.about_div {
  background-image: url('./images/SaturnRings.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.button_hover:hover {
  color: #ff4040;
}

.past_flight:hover {
  background-color: #11111111;
  cursor: pointer;
}

.lowest_fare {
  background-color: #ff000075;
  cursor: pointer;
}
.lowest_fare:hover {
  background-color: #ff0000c0;
}
